body{
  width: 50%;
  margin: 0 auto;
}
header{
  text-align: center;
}
header h1{
  font-size: 100px;
  color: hwb(210 17% 69%);
  font-weight: 100;
}
input{
  font-size: 20px;
  color: hwb(210 17% 69%);
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid hwb(210 17% 69%);
  padding: 5px;
}
.add{
background-color: black;
color: white;
padding: 5px 1.5rem;
cursor: pointer;
margin-bottom: auto;
}
.form{
  display: flex;
  
}
.todo{
  position: relative;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.icons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon{
  cursor: pointer;
  font-size: 20px;
}
@media screen and (max-width: 600px){
  .profile_container{
      height: 100vh;
   
  }
  .profile-parent{
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
  }

}